body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0c0c0c; 
  background-image: url('assets/PP.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px; 
}

a {
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;
}
a:hover {
  color: #000000;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #000000;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #8a949c;
    background-color: #ffffff;
  }
  a:hover {
    color: #929296;
  }
  button {
    background-color: #f9f9f9;
  }
}


h2 {
  font-size: 2rem;
  color: #000000;
  margin-bottom: 1.5rem;
  text-align: center; 
}


.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  border: 1px solid #b6acac;
  border-radius: 8px;
  padding: 2rem; 
  margin: 1rem; 
  background-color: #b9b9b959;
  max-width: 300px;
}


.project h3 {
  font-size: 1.5rem;
  color: #b9b1b1; 
  margin-bottom: 1rem;
}


.project p {
  color: #666; 
  margin-bottom: 1rem;
}


.project a {
  color: #007bff; 
  text-decoration: none;
  font-weight: bold;
}

.project a:hover {
  text-decoration: underline;
}